* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'goldman';
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 120vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /* background-image: url('/src/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/src/images/backDrop.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.sign-up {
  background-image: url('/src/images/shark.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
